@font-face {
    font-family: 'kgneatlyprinted';
    src: url('../fonts/kgneatlyprinted-webfont.woff2') format('woff2'),
         url('../fonts/kgneatlyprinted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* { outline: none;}
body { font-family: 'kgneatlyprinted'; font-size: 22px; color: #333; font-weight: 100; background:#E9F8FF; margin: 0;}
h1 { font-size: 45px; font-weight: 100; margin-bottom: 25px;}
h2 { font-size: 40px; font-weight: 100; margin-bottom: 25px;}
h3 { font-size: 35px; font-weight: 100; line-height: 45px; margin-bottom: 25px;}
h3.subtitle { color:#9f97a4; font-family: 'kgneatlyprinted'; font-size: 46px; font-weight: 100; margin-bottom:30px;}
.mobile { display: none;}
header { z-index: 2; position: relative; }
main { z-index: 2; position: relative;}
footer{ z-index: 2; position: relative; }

.hidden { display: none; }

#topbar { padding: 10px; top:0; background-color: rgba(255,255,255,.80); box-shadow: 0px 0px 15px rgba(0,0,0,.25); padding-top: 7px; padding-bottom: 7px; position: fixed; z-index: 10; min-height: 80px;}
#topbar img { margin-top: 6px;}
#topbar .menu { position: absolute; top: 15px; right: 25px;width: 42px; height: 25px; z-index: 10000; padding:5px; text-align: center;}
#topbar .menu a { display: block; width: 40px; height: 40px; }
#topbar .menu a.active span.top { transform: rotate(45deg); top:24px; background-color: #9F97A4;}
#topbar .menu a.active span.bottom { transform: rotate(-45deg); top: 24px;}
#topbar .menu span { width: 30px; height: 2px; left:10px; position: absolute; background-color: #a0a5c0; display: block; max-width: 30px; transition: all .15s ease-out;}
#topbar .menu span.top { top:18px; }
#topbar .menu span.bottom { top:28px; }


#gallery { position: fixed; top: 0; bottom: 0; left:0; right: 0; background:#f7f5f7; z-index: 10; display: none;}
#gallery .slider { max-width: 500px; margin: auto; padding-top: 100px; position: relative;}
#gallery .sw-prev { outline: none;width: 34px; height: 50px; position: absolute; top:50%; margin-top: -15px; left:-45px; }
#gallery .sw-prev:hover { cursor: pointer; }
#gallery .sw-prev span { width: 34px; height: 50px; display: block; position: absolute; transition: all .15s ease-out;  }
#gallery .sw-prev span.on { background: url("../img/arrow_p.png") top left no-repeat; background-size: 32px auto;  }
#gallery .sw-prev span.off { background: url("../img/arrow_y.png") top left no-repeat; background-size: 32px auto; opacity: 0;}
#gallery .sw-prev:hover span.on { opacity:0; }
#gallery .sw-prev:hover span.off { opacity: 1; }

#gallery .sw-next { outline: none;width: 34px; height: 50px; position: absolute; top:50%; margin-top: -15px; right:-50px;  }
#gallery .sw-next:hover { cursor: pointer; }
#gallery .sw-next span { width: 34px; height: 50px; display: block; position: absolute; transition: all .15s ease-out;  }
#gallery .sw-next span.on { background: url("../img/arrow_p.png") top left no-repeat; background-size: 32px auto; transform:rotate(180deg);  }
#gallery .sw-next span.off { background: url("../img/arrow_y.png") top left no-repeat; background-size: 32px auto; opacity: 0; transform:rotate(180deg);}
#gallery .sw-next:hover span.on { opacity:0; }
#gallery .sw-next:hover span.off { opacity: 1; }
#gallery .slider { position: relative; }
#gallery .slider a.closeGallery { display: block; width: 40px; height: 40px; position: absolute; right: -45px; }
#gallery .slider a.closeGallery span { width: 30px; height: 2px; left:5px; position: absolute; background-color: #a0a5c0; display: block; max-width: 30px; transition: all .15s ease-out;}
#gallery .slider a.closeGallery span.top { transform: rotate(45deg); top:12px; background-color: #9F97A4;}
#gallery .slider a.closeGallery span.bottom { transform: rotate(-45deg); top: 12px;}


header { margin-top: 65px; }
header h1 { margin: 0; padding: 20px;}
header p { margin: 0; padding: 0px 20px; font-size: 16px; margin-bottom: 20px;}
header .hero { min-height: 400px; color: #fff; padding-top: 80px; padding-bottom: 30px; text-align: center;}
header .hero p { color: #9f97a4; font-family: 'Quicksand', sans-serif; font-size: 14px; font-weight: 100; margin-bottom: 0px;}
header .hero .row .col { position: relative;}
header .hero .row .col:first-child img { max-width: 90%; margin: auto; }
header .hero .actions { max-width: 480px; }
header .hero .actions .col { min-height: auto;}
header .hero h2 { font-size: 40px; color:#ffdd17; text-align: center; font-family: 'Quicksand', sans-serif; font-weight: 700;}
header .hero a.badge { background-color: #ffdd17; color:#835c6a; font-size: 12px; line-height: 12px;width: 110px; height: 110px; position: absolute; top: 0px; right: -45px; display: block; border-radius: 100px;}
header .hero a.badge span { display: block; font-family: 'Quicksand', sans-serif;}
header .hero a.badge span.title { font-size: 17px; margin-top:18px; line-height: 16px; font-weight: 500;}
header .hero a.badge span.price { font-size: 22px; margin-top:10px; font-weight: 700;}
header .hero a.badge span.extra { font-size: 14px; line-height: 16px;padding-top: 6px; max-width: 80px; margin: auto; font-weight: 500;}
header .hero a.badge.top { right: 45px; top: -40px}
header .hero a.badge.top span.title { margin-top: 30px;}
header .hero a.badge.bottom {}
header .holder { padding: 25px; padding-bottom: 0px;}

main section  { padding-top: 50px; padding-bottom: 50px;}
main section .actions { text-align: center; margin-top: 25px; }
main section.coloring-sheets .row.bg-green { background-color: #f7f5f7; }
main section.coloring-sheets { text-align: center;}
main section.coloring-sheets h3 { position: relative; display: inline-block; margin: auto; padding-right: 60px; margin-bottom: 25px; }
main section.coloring-sheets h3 img { position: absolute; right: 0; max-width: 45px; top:0;}
main section.coloring-sheets .holder { position: relative; }
main section.coloring-sheets .holder .sw-prev { outline: none;width: 34px; height: 50px; position: absolute; top:50%; margin-top: -25px; left:-30px;  }
main section.coloring-sheets .holder .sw-prev:hover { cursor: pointer; }
main section.coloring-sheets .holder .sw-prev span { width: 34px; height: 50px; display: block; position: absolute; transition: all .15s ease-out;  }
main section.coloring-sheets .holder .sw-prev span.on { background: url("../img/arrow_p.png") top left no-repeat; background-size: 32px auto;  }
main section.coloring-sheets .holder .sw-prev span.off { background: url("../img/arrow_y.png") top left no-repeat; background-size: 32px auto; opacity: 0;}
main section.coloring-sheets .holder .sw-prev:hover span.on { opacity:0; }
main section.coloring-sheets .holder .sw-prev:hover span.off { opacity: 1; }

main section.coloring-sheets .holder .sw-next { outline: none;width: 34px; height: 50px; position: absolute; top:50%; margin-top: -25px; right:-30px;  }
main section.coloring-sheets .holder .sw-next:hover { cursor: pointer; }
main section.coloring-sheets .holder .sw-next span { width: 34px; height: 50px; display: block; position: absolute; transition: all .15s ease-out;  }
main section.coloring-sheets .holder .sw-next span.on { background: url("../img/arrow_p.png") top left no-repeat; background-size: 32px auto; transform:rotate(180deg);  }
main section.coloring-sheets .holder .sw-next span.off { background: url("../img/arrow_y.png") top left no-repeat; background-size: 32px auto; opacity: 0; transform:rotate(180deg);}
main section.coloring-sheets .holder .sw-next:hover span.on { opacity:0; }
main section.coloring-sheets .holder .sw-next:hover span.off { opacity: 1; }

main section.coloring-sheets .swiper-slide a { border: #9f97a4 solid 2px;}
main section.coloring-sheets .swiper-slide a::after { content: ""; width: 100%; height: 100%; background-color: rgba(159,151,164,.50); top:0; left:0; position: absolute; opacity: 0; transition: opacity .15s ease-out; }
main section.coloring-sheets .swiper-slide a:hover::after {opacity: 1; }
main section.coloring-sheets .swiper-slide span.btn { position: absolute; top:50%; max-width: 150px; left:0; right: 0; margin: auto; display: inline-block; z-index: 10; margin-top: -22px; opacity: 0;}
main section.coloring-sheets .swiper-slide a:hover span.btn { opacity: 1;}
main section .holder { padding: 25px;}

main section.intro p { max-width: 510px; margin: auto; font-size: 24px; line-height: 30px;}

main section.preview .holder { padding-left:0px; padding-right: 0px; }
main section.preview .slider { padding:30px; position: relative; max-width: 1200px; margin: auto !important;}
main section.preview .swiper-slide a { border: #ffdd17 solid 2px; position: relative;}
main section.preview .swiper-slide a::after { content: ""; width: 100%; height: 100%; background-color: rgba(159,151,164,.50); top:0; left:0; position: absolute; opacity: 0; transition: opacity .15s ease-out; }
main section.preview .swiper-slide a:hover::after {opacity: 1; }
main section.preview .slider .sw-prev { outline: none;width: 34px; height: 50px; position: absolute; top:50%; margin-top: -25px; left:-30px;  }
main section.preview .slider .sw-prev:hover { cursor: pointer; }
main section.preview .slider .sw-prev span { width: 34px; height: 50px; display: block; position: absolute; transition: all .15s ease-out;  }
main section.preview .slider .sw-prev span.on { background: url("../img/arrow_y.png") top left no-repeat; background-size: 32px auto;  }
main section.preview .slider .sw-prev span.off { background: url("../img/arrow_p.png") top left no-repeat; background-size: 32px auto; opacity: 0;}
main section.preview .slider .sw-prev:hover span.on { opacity:0; }
main section.preview .slider .sw-prev:hover span.off { opacity: 1; }

main section.preview .slider { padding:30px; margin-left: -30px; margin-right: -30px; position: relative; }
main section.preview .slider .sw-next { outline: none;width: 34px; height: 50px; position: absolute; top:50%; margin-top: -25px; right:-30px;  }
main section.preview .slider .sw-next:hover { cursor: pointer; }
main section.preview .slider .sw-next span { width: 34px; height: 50px; display: block; position: absolute; transition: all .15s ease-out;  }
main section.preview .slider .sw-next span.on { background: url("../img/arrow_y.png") top left no-repeat; background-size: 32px auto; transform:rotate(180deg);  }
main section.preview .slider .sw-next span.off { background: url("../img/arrow_p.png") top left no-repeat; background-size: 32px auto; opacity: 0; transform:rotate(180deg);}
main section.preview .slider .sw-next:hover span.on { opacity:0; }
main section.preview .slider .sw-next:hover span.off { opacity: 1; }

main section.preview .row.actions p { color: #9f97a4; font-family: 'Quicksand', sans-serif; font-size: 14px; font-weight: 100; margin-bottom: 0px; }
main section.preview .row.actions { max-width: 480px;}
main section.preview .row.actions .col { min-height: auto;}
main section.quotes .holder .quotes { background-color:#f7f5f7; padding-top: 30px;}
main section.quotes .holder .quotes h3 { color:#9f97a4; padding-left: 15px; padding-right: 15px; }
main section.quotes .holder .quotes p { color:#4a5350; padding-left: 15px; padding-right: 15px;}

footer { font-size: 20px; color:#7a748b; }
footer p.mobile { display: none;}
footer p.desktop { display: block; }
footer .row.fluid { min-height: 200px; }
footer .row p { line-height: 22px;}
footer .multi { background-color: #f1d4b8; border-top:#000 solid 2px; height: 20px;  border-bottom:#000 solid 2px; height: 20px;}
footer .row .col { min-height: auto; padding-top: 10px; }
footer .row .col a { max-width: 100px; display: inline-block; margin-right: 5px; }
footer .row .col img { max-width: 100px; width: 100%;display: inline-block; vertical-align: middle; margin-right: 10px; }
footer input { width: 300px; border-radius: 6px;height: 50px; text-indent: 15px; border:#9f97a4 solid 2px;}
footer input.error { border:#e74c3c solid 2px;  }
footer .row.half .col { min-height: 200px; }

* { box-sizing: border-box;}
a { text-decoration: none; color: #333; display: inline-block;}

.btn {
  min-width: 200px; text-align: center; padding: 12px 6px; color: #fff; margin-left: 5px; margin-right: 5px;
  border-radius: 6px; font-size: 22px; text-transform: uppercase;
  transition: all .15s ease-out;
  border: none;
}
.btn.yellow:hover { background-color: #9f97a4; color:#fff; }

.btn.yellow { background-color: #ffdd17; color:#7a616c; font-family: 'Quicksand', sans-serif; }
.btn.purple { background-color: #9f97a4; color:#fff; font-family: 'Quicksand', sans-serif; }
.btn.purple:hover {background-color: #ffdd17; color: #7a616c;}
.btn:hover { background-color: #fff; color: #000;}




.fancybox-button--zoom { display:none !important; }
.fancybox-button--play { display:none !important; }
.fancybox-button--thumbs { display:none !important; }

.centered { text-align: center;}
.bg { background-color: #ededed; }
.bg-white { background-color: #fbfbfb;}
.bg-gray { background-color: #ccc; }
.bg-lightgreen { background-color: #e2f7ea; }
.bg-yellow { background-color: #feeca7; }
.row { max-width: 1200px; margin: auto; font-size: 0;}
.row.fluid { width: 100%; max-width: 100%;}
.row .col { font-size: 22px; line-height: 25px;}
.row .col.aright { text-align: right; }
.row.half .col { width: 50%; display: inline-block; vertical-align: top; min-height: 250px;}
.row.vertical .col { vertical-align: middle; }
img.responsive { width: 100%; height: auto; vertical-align: bottom; }

.swiper-pagination-bullet { background-color:#9aa0bc !important;}
.swiper-pagination-bullet-active { background-color:#737893 !important;}

.swiper-container.images {
  max-width: 1440px;
}


.swiper-container.quotes {
max-width: 500px;
margin: auto;
padding-bottom: 50px;
 background-color: #f7f5f7;
}
.nav { position: fixed; top: 0; bottom: 0;right: 0px; width: 100%; background-color: #f7f5f7; box-shadow: 5px 5px 40px rgba(0,0,0,.35); z-index: 10; display: none;}
.nav h2 { text-align: center; font-size: 40px; font-family: 'kgneatlyprinted'; font-weight: 700;text-transform: uppercase; color: #9F97A4; margin-top: 120px; margin-left: auto; margin-right: auto;margin-bottom: 30px; max-width:450px; text-align: left; }
.nav ul { margin-top: 20px; list-style: none; padding: 0;  margin: auto;}
.nav ul li { margin-bottom: 10px; font-size: 18px; color: #444; transition: background-color .15s ease-out; }
.nav ul li .holder { width: 100%; margin: auto; max-width: 450px;}
.nav ul li:hover { background-color: #f0edff;}
.nav ul li:hover a { color:#7a748b; background: url(../img/blue-star.png) left center no-repeat; background-size: 18px auto; }
.nav ul li.sub:hover a { background: url(../img/blue-star.png) left center no-repeat; background-size: 18px auto;  }
.nav ul li.indent { padding-left: 10px;}
.nav ul li a {font-family: 'Quicksand', sans-serif;font-size:24px; color: #9F97A4; font-weight: 700; background: url(../img/white-star.png) left center no-repeat; background-size: 18px auto; padding-left: 35px; transition: color .15s ease-out;}
.nav ul li.sub a {background: url(../img/white-star.png) left center no-repeat; background-size: 18px auto; margin-left: 35px; padding-left: 25px;}
.nav ul li.last { margin-top: 30px;}
.nav ul li.last a { font-size: 16px; font-weight: 100; }

@media only screen and (max-width: 1300px) {
  header .hero a.badge.top { right: 100px; top:-55px;}
  header .hero a.badge { right: 10px; top: -15px;}
}

@media only screen and (max-width: 800px) {
  .nav { padding-left: 15px; padding-right: 15px;}
  .row.half .col { width: 100%; display:block;}
  footer .row p { text-align: center; }
  main section.coloring-sheets ul li { width: 100%; display: block;}
  header .hero { text-align: center; padding-bottom: 0px;}
  header .hero .desktop { display: none;}
  header .hero .mobile { display: block; margin-top: 50px;}
  header .hero a.badge.top { right: 100px; top:-75px;}
  header .hero a.badge { right: 10px; top: -45px;}
  header .hero .actions.mobile .col:first-child { margin-bottom: 25px;}
  header .lang { display: none;}
  header .menu { display: block;}
  .mobile { display: block; }
  main section { padding-top: 30px; padding-bottom: 30px; }
  main section.preview .row.half .col { width: 100%; margin-bottom: 25px;}

  .nav { width: 100%;}

  .nav h2 { font-size: 28px; margin-bottom: 25px;}
  .nav ul li a  { font-size: 18px; padding-left: 25px; }
  .nav ul li .holder  { max-width: 400px;}
  .nav ul li a { background-size:18px auto; }
  .nav ul li:hover a { background-size:18px auto; }
  .nav ul li.sub a { background-size:14px auto; }
  .nav ul li.sub:hover a { background-size:14px auto; }
  a.btn { min-width: 250px;}
  header h1 { font-size: 30px;}
  .swiper-button-next { display: none;}
  .swiper-button-prev { display: none;}
  footer .row.half .col { min-height: auto; margin-top: 20px; text-align: center;}
  footer .row.fluid { padding-bottom: 25px;}
  footer br { display: none;}
  footer img { margin: auto; margin-top: 20px;}
  footer p { margin-top: 25px;}
  footer p.mobile { display: block;}
  footer p.desktop { display: none; }
  footer .row .col a { max-width: 60px; min-width: 80px;}
  main section.coloring-sheets .holder .sw-next { display: none; }
  main section.coloring-sheets .holder .sw-prev { display: none; }
  main section.preview .slider .sw-next { display: none; }
  main section.preview .slider .sw-prev { display: none; }
}

@media only screen and (max-width: 600px) {
  #gallery .slider { max-width: 80%; margin: auto;}
}

.left-arrow.swiper-button-disabled {opacity: 0;}

#modal { position: fixed; top: 0; bottom: 0; left:0; right: 0; background:#f7f5f7; z-index: 10; display: none;}
#modal .window { position: relative; width:100%; min-height:100%;  overflow-y: scroll; padding-top: 80px;}
#modal .window section.ebook { max-width: 640px; margin: auto; text-align: center;}
#modal .window section.ebook h2 { color:#9f97a4; font-size: 32px;  font-weight: 100; text-transform: uppercase; margin-bottom: 15px;}
#modal .window section.ebook h3 { font-family: 'Quicksand', sans-serif; color:#9f97a4; font-weight: 600; font-size: 22px; margin-bottom: 0px;}
#modal .window section.ebook p { color:#9f97a4; margin-top: 5px; font-size: 18px; margin-bottom: 60px; }
#modal .window section.ebook .links {  font-size: 0; max-width: 360px; margin: auto;}
#modal .window section.ebook .links a { width: 50%; display: inline-block; margin-bottom: 25px;  vertical-align: middle;}
#modal .window section.ebook .links a img { width: 100%; max-width: 150px;}
#modal .window section.ebook .links a:hover img { opacity: .8;}
/**/
.example.example1 {
background-color: #6772e5;
}

.example.example1 * {
font-family: Roboto, Open Sans, Segoe UI, sans-serif;
font-size: 16px;
font-weight: 500;
}

.example.example1 fieldset {
margin: 0 15px 20px;
padding: 0;
border-style: none;
background-color: #7795f8;
box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
  inset 0 1px 0 #829fff;
border-radius: 4px;
}

.example.example1 .row {
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
margin-left: 15px;
}

.example.example1 .row + .row {
border-top: 1px solid #819efc;
}

.example.example1 label {
width: 15%;
min-width: 70px;
padding: 11px 0;
color: #c4f0ff;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.example.example1 input, .example.example1 button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
outline: none;
border-style: none;
}

.example.example1 input:-webkit-autofill {
-webkit-text-fill-color: #fce883;
transition: background-color 100000000s;
-webkit-animation: 1ms void-animation-out;
}

.example.example1 .StripeElement--webkit-autofill {
background: transparent !important;
}

.example.example1 .StripeElement {
width: 100%;
padding: 11px 15px 11px 0;
}

.example.example1 input {
width: 100%;
padding: 11px 15px 11px 0;
color: #fff;
background-color: transparent;
-webkit-animation: 1ms void-animation-out;
}

.example.example1 input::-webkit-input-placeholder {
color: #87bbfd;
}

.example.example1 input::-moz-placeholder {
color: #87bbfd;
}

.example.example1 input:-ms-input-placeholder {
color: #87bbfd;
}

.example.example1 button {
display: block;
width: calc(100% - 30px);
height: 40px;
margin: 40px 15px 0;
background-color: #f6a4eb;
box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
  inset 0 1px 0 #ffb9f6;
border-radius: 4px;
color: #fff;
font-weight: 600;
cursor: pointer;
}

.example.example1 button:active {
background-color: #d782d9;
box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
  inset 0 1px 0 #e298d8;
}

.example.example1 .error svg .base {
fill: #fff;
}

.example.example1 .error svg .glyph {
fill: #6772e5;
}

.example.example1 .error .message {
color: #fff;
}

.example.example1 .success .icon .border {
stroke: #87bbfd;
}

.example.example1 .success .icon .checkmark {
stroke: #fff;
}

.example.example1 .success .title {
color: #fff;
}

.example.example1 .success .message {
color: #9cdbff;
}

.example.example1 .success .reset path {
fill: #fff;
}
#card-errors { background-color: red; color: #fff; margin-bottom: 5px;}


.background { position: absolute; min-height: 100%; bottom:0; width: 100%; background: url(../img/bck-off.png) top center; z-index: 1; top: 0; left:0; background-size: 50% auto; opacity: .6; }
.background .stars.on {  position: absolute; top:0; bottom: 0;left:0; min-height: 100%; width: 100%; background: url(../img/bck-on.png) top center; opacity: 0; animation: pulse 6s infinite ease; background-size: 50% auto; opacity: .6; }
/*
@keyframes pulse {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
*/
